@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-orange h-full;
}

main > div {
  @apply opacity-100 transition-opacity duration-1000;
}

main > div.is-hidden {
  @apply opacity-0;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 5px solid #ff5a00;
  border-color: #ff5a00 transparent #ff5a00 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}